@font-face {
    font-family: "comingsoon"; /*a name to be used later*/
    src: url("../fonts/ComingSoon-Regular.ttf"); /*URL to font*/
}
.footer {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    color: #3a7257;
    font-size: 15px;
    background-color: #bbe5b3;
    opacity: 80%;
    font-weight: bolder;
}

.index {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url("../img/capasuculentas.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px;
}

.menu {
    background-color: #bbe5b3;
    opacity: 80%;
    z-index: 100;
}

.menu-item {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-size: 24px;
    height: 40px;
    z-index: 101;
}

.menu-link {
    color: #3a7257;
    z-index: 102;
}

.card-branco {
    background-color: white;
    opacity: 80%;
    z-index: -1;
}
.card-branco img {
    width: 400px;
    height: 400px;
    margin-top: -150px;
    z-index: -1;
}

.card-titulo {
    font-family: "comingsoon";
    text-shadow: 2px 2px 2px #68956e;
}

.card-titulo .titulo {
    font-size: 105px;
    color: #3a7257;
}

.card-subtitulo {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

.card-subtitulo .subtitulo {
    font-size: 32px;
    color: #3a7257;
}

.card-titulo02 {
    font-family: "comingsoon";
    font-size: 42px;
    color: #3a7257;
}

.card-texto {
    width: 550px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-size: 20px;
    color: #3a7257;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}
.card02 {
    width: auto;
    height: auto;
}
.just {
    text-align: justify;
    text-justify: inter-word;
    color: #3a7257;
    width: auto;
    height: auto;
}
.card_projeto {
    position: absolute;
    width: 250%;
    height: 250%;
    background-image: url("../img/logo03.png");
    transform: rotate(350deg);
    background-repeat: no-repeat;
    opacity: 20%;
    margin-top: -310px;
    margin-left: -50px;
}

.card-final01 {
    font-family: "comingsoon";
    font-size: 25px;
}

.card-final02 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-size: 24px;
}

.card_materias {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #3a7257;
}

.card-imagem-materias {
    position: fixed;
    width: 750px;
    height: 750px;
    top: 50%;
    left: 50%;
    margin-top: -375px; /* Negative half of height. */
    margin-left: -375px; /* Negative half of width. */
    background-image: url("../img/logo02.png");
    background-size: cover;
    opacity: 10%;
    background-repeat: no-repeat;
    z-index: -1;
}

.img-bola {
    z-index: 10;
    width: 200px;
    height: 200px;
}

.card-bola {
    font-family: "comingsoon";
    color: white;
    z-index: 1;
}

.card-bola a {
    color: white;
}

.card_verde {
    background-color: #68956e;
    z-index: -50;
}

/*tablet*/
@media (max-width: 1169px) {
    .menu {
        width: auto;
        text-align: center;
    }
    .card-branco {
        width: auto;
        padding: 40px;
    }
    .card-logo00 {
        width: 50%;
    }
    .titulo {
        font-size: 60px;
    }
    .card-subtitulo {
    }
    .footer {
    }
}

/*celular*/
@media (max-width: 767px) {
    .menu {
        width: auto;
        flex-direction: column;
    }
    .card-branco {
        width: auto;
        padding: 15px;
    }
    .card-logo00 {
    }
    .card-titulo {
    }
    .card-subtitulo {
    }
    .footer {
    }
}
